<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>

<body>
    <nav>
        <div class="logo-tagline">
            <div class="nav-logo">
                <a href="https://github.com/LeakyEarth2000/">
                    <img src="{{ url_for('static', filename='assets/invaderzim.jpeg') }}" alt="GitHub Logo">
                </a>
            </div>
    
            <div class ="nav-tagline">
                <h4>Yash Batish</h4>
                <h5>Biometric Password Authentication</h5>
            </div>
        </div>
    </nav>

    <div>
        <h1>Home Page</h1>
    </div>
</body>
</html>